.Information {
  width: calc(~"100% - 200px");
  background-color: #E6F5FF;
  margin-left: 200px;
  margin-top: 90px;
  padding-left: 10px;
  padding-top: 10px;
  min-height: calc(~"100% + 10px");
  overflow: hidden;
  padding-bottom:10px;
  .content {
    width: 1190px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    border-radius: 4px;
    min-height: 100%;
    .zanWU {
      font-size: 20px;
      text-align: center;
      position: absolute;
      top: 530px;
      left: 50%;
      transform: translate(-50%, 0);
    }
    .itemBox {
      height: 60px;
      line-height: 60px;
      margin-bottom: 10px;
      background-color: #fff;
      padding: 0 20px 0px 30px;
      border-radius: 3px;
      position:relative;
      cursor: default;
      span {
        font-size: 14px;
        color: #999999;
      }
      .weidu {
        position:absolute;
        width:6px;
        height:6px;
        background:#25ccf6;
        border-radius:6px;
        top:50%;
        margin-top:-3px;
        left:16px;
      }
      .type {
        display: inline-block;
        margin-right: 20px;
        font-size: 20px;
        color: #333333;
      }
      .count {
        float: right;
      }
      .shuoMing {
        span {
          margin-right: 30px;
        }
      }
    }
  }
  .nameClsPagination {
    text-align: right;
    padding: 20px 20px 20px 0;
    background-color: #fff;
    border-radius: 4px;
  }
  .nullContent {
    height: 100%;
    background: url("../../images/webwxgetmsgimg.jpeg") no-repeat;
    background-size: 350px 350px;
    background-position: 50% 180px;
  }
}