.AuditionDetails {
  width: calc(~"100% - 200px");
  background-color: #E6F5FF;
  margin-left: 200px;
  margin-top: 90px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  overflow: hidden;
  min-height:calc(~"100% + 10px");
  .content {
    width: 1200px;
    margin-left: 50%;
    transform: translate(-50%, 0);
    border-radius: 4px;
    min-height: 100%;
    background-color: #fff;
    position:relative;
    .backpageMain{
      height:50px;
      border-bottom:1px solid #eee;
      .backBox{
        position:absolute;
        display: block;
        width:12px;
        height:34px;
        background:url("../../images/leftArrow.png") no-repeat center;
        background-size:contain;
        top:8px;
        left:25px;
      }
      .downloadResume{
        float:right;
        width:130px;
        line-height: 50px;
        background:#25CCF6;
        color:#fff;
        text-align:center;
        font-size:14px;
        letter-spacing: 2px;
      }
    }
    .detailsMain{
      position:relative;
      padding:20px 20px 40px 115px;
    }
    .icon_pic {
      display: inline-block;
      width: 70px;
      height: 68px;
      position: absolute;
      top: 20px;
      left: 25px;
      overflow:hidden;
      img{
        width:64px;
        height:64px;
        border-radius:64px;
      }
      i{
        width:20px;
        height:20px;
        background-repeat:no-repeat;
        background-position:center;
        background-image:url("../../images/man.png");
        background-size:contain;
        position:absolute;
        bottom:4px;
        right:0px;
      }
      i.female{
        background-image:url("../../images/woman.png");
      }
    }
    .basic {
      padding-bottom: 20px;
      border-bottom: 1px dashed #E0E0E0;
      font-size: 14px;
      color: #999999;
      .name {
        margin-bottom: 4px;
        .til {
          font-size: 20px;
          color: #333333;
          margin-right: 10px;
        }
        .trade {
          display: inline-block;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
          vertical-align: text-bottom;
          span{
            padding:0px 5px;
          }
          span:last-child{
            display: none;
          }
        }
      }
      .info {
        min-height:20px;
        .shuXian {
          margin: 0 5px;
          display: inline-block;
          width: 1px;
          height: 14px;
          background-color: #999999;
          vertical-align: middle;
        }
        .basicInfoBox {
          span:last-child{
            display: none;
          }
        }
        .jobStates {
          display: inline-block;
          width: 40px;
          height: 20px;
          line-height: 20px;
          text-align: center;
          margin-left: 10px;
          background: #25CCF6;
          border-radius: 4px;
          color: #fff;
          font-size: 14px;
          vertical-align: text-bottom;
          float: right;
        }
      }
    }
    .mySelf, .hope {
      padding: 20px 0 10px 0;
      border-bottom: 1px dashed #E0E0E0;
      .til {
        font-size: 18px;
        color: #666666;
        margin-bottom: 20px;
      }
      div {
        font-size: 14px;
        color: #999999;
        margin-bottom: 10px;
      }
      .qiWangPay {
        margin-bottom: 10px;
        span {
          font-size: 14px;
          color: #666666;
          margin-right: 20px;
        }
        i {
          font-style: normal;
          font-size: 14px;
          color: #25CCF6;
        }
      }
    }
    .jobJingLi {
      border-bottom: 1px dashed #E0E0E0;
      .til {
        font-size: 18px;
        color: #666666;
        margin-top: 20px;
        margin-bottom: 20px;
      }
      .company {
        .name {
          font-size: 14px;
          color: #666666;
          margin-right: 20px;
        }
        .buMen, .time {
          font-size: 14px;
          color: #999999;
        }
        .time {
          float: right;
        }
      }
      .jobNeiRong {
        margin-bottom: 20px;
        div {
          font-size: 14px;
          color: #999999;
          margin-top: 10px;
        }
      }
    }
    .jiaoYuJing, .mySelfDes {
      padding: 20px 0;
      border-bottom: 1px dashed #E0E0E0;
      .title {
        font-size: 18px;
        color: #666666;
        margin-bottom: 20px;
      }
      span {
        font-size: 14px;
        color: #999999;
      }
      .daXue {
        color: #3F3F3F;
        margin-right: 40px;
      }
      .date {
        float: right;
      }
    }
  }
}